In [1]:
#multiple value of same type eg: multiple integer
city1 = 'New york city'
city2 = 'gwalior'
city3 = 'indore'
city4 = 'khandwa'
city5 = 'hulululu'

In [2]:
emp_list = []

In [4]:
top_cities = ['New york city','gwalior','indore','khandwa','hulululu'] 
print(top_cities)

['New york city', 'gwalior', 'indore', 'khandwa', 'hulululu']

In [5]:
top_cities[0]

'New york city'

In [6]:
top_cities[-1]

'hulululu'

In [8]:
top_cities[0:5]

['New york city', 'gwalior', 'indore', 'khandwa', 'hulululu']

In [22]:
top_cities[-5:-1]

['New york city', 'gwalior', 'indore', 'khandwa']

In [16]:
top_cities[-4:-1]

['gwalior', 'indore', 'khandwa']

In [18]:
top_cities[2:]

['indore', 'khandwa', 'hulululu']

In [19]:
top_cities[:2]

['New york city', 'gwalior']

In [25]:
# DELETE LIST
top_cities = ['New york city','gwalior','indore','khandwa','hulululu','singapore'] 
del top_cities[3]  #all element from right shift from left
print(top_cities)  # del is an instruction

['New york city', 'gwalior', 'indore', 'hulululu', 'singapore']

In [1]:
# ADD NEW ELEMENT LIST
book_rating = [7, 8, 6, 9]
book_rating.append(4)
print(book_rating)

[7, 8, 6, 9, 4]

In [2]:
book_rating = [7, 8, 6, 9]
book_rating.insert(1,10)
print(book_rating)

[7, 10, 8, 6, 9]

In [3]:
## ITERATING LIST
top_cities = ['New york city','gwalior','indore','khandwa','hulululu','singapore'] 
for city in top_cities:
    print('Current city:', city)

Current city: New york city
Current city: gwalior
Current city: indore
Current city: khandwa
Current city: hulululu
Current city: singapore

In [8]:
top_cities = ['New york city','gwalior','indore','khandwa','hulululu','singapore'] 
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index] )

Current index: 0 | Current city: New york city
Current index: 1 | Current city: gwalior
Current index: 2 | Current city: indore
Current index: 3 | Current city: khandwa
Current index: 4 | Current city: hulululu
Current index: 5 | Current city: singapore

In [10]:
spendings = [32,45,118.65,78.94,5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:',sum)

Money spent: 279.82000000000005

In [13]:
## CHANGING ELEMENT POSITION
first = input('Enter first variable: ')
second = input('Enter second variable: ')
print('Before swaping:', first, second)
first = second
second = first
print('After swaping:', first, second)

Enter first variable: 10
Enter second variable: 20
Before swaping: 10 20
After swaping: 20 20

In [18]:
first = input('Enter first variable: ')
second = input('Enter second variable: ')
print('Before swaping:', first, second)
temp = first
first = second
second = first
second = temp
print('After swaping:', first, second)

Enter first variable: 10
Enter second variable: 20
Before swaping: 10 20
After swaping: 20 10

In [19]:
first = input('Enter first variable: ')
second = input('Enter second variable: ')
print('Before swaping:', first, second)
# temp = first
first, second = second, first
print('After swaping:', first, second)

Enter first variable: 10
Enter second variable: 20
Before swaping: 10 20
After swaping: 20 10

In [20]:
top_cities = ['New york city','gwalior','indore','khandwa','hulululu','singapore'] 
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['hulululu', 'gwalior', 'indore', 'khandwa', 'New york city', 'singapore']

In [24]:
top_cities = ['New york city','Gwalior','Indore','Khandwa','Hulululu','Singapore'] 
top_cities.sort()
print(top_cities)

['Gwalior', 'Hulululu', 'Indore', 'Khandwa', 'New york city', 'Singapore']

In [23]:
ran_num = [2, 5, 0, -3, 4]
ran_num.sort()#method to change valuies
print(ran_num)

[-3, 0, 2, 4, 5]

In [25]:
ran_num = [2, 5, 0, -3, 4]
ran_num.sort(reverse=True)
print(ran_num)

[5, 4, 2, 0, -3]

In [26]:
top_cities = ['New york city','Gwalior','Indore','Khandwa','Hulululu','Singapore'] 
print(sorted(top_cities))#sorting in place
print(top_cities)

['Gwalior', 'Hulululu', 'Indore', 'Khandwa', 'New york city', 'Singapore']
['New york city', 'Gwalior', 'Indore', 'Khandwa', 'Hulululu', 'Singapore']

In [28]:
## LIST CHECKING PRESENCE
for char in 'happy message':
    print(char)

h
a
p
p
y

m
e
s
s
a
g
e

In [30]:
invited_guest = ['kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('what is your name? ')
if name in invited_guest:
    print('welcome')
else:
    print('get lost')

what is your name? j
get lost

In [31]:
invited_guest = ['kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('what is your name? ')
if name not in invited_guest:
    print('get lost')
else:
    print('welcome')

what is your name? kate
welcome

In [32]:
## COPING LIST
original = "jon snow"
new = original          ## watch again
original = 'Denerys Targeryen'
print(original,new)

Denerys Targeryen jon snow

In [33]:
original = [1, 2, 3]
new = original
original[0] = -5
print('original: ', original, '\nNew: ', new)

original:  [-5, 2, 3]
New:  [-5, 2, 3]

In [2]:
## name of the list in the member location where the list is stored in computer(referenc)
##
original = [1, 2, 3]
new = original[:2]
original[0] = -5
print('original: ', original, '\nNew: ', new)

original:  [-5, 2, 3]
New:  [1, 2]

In [3]:
## LIST COMPREHRNSION
NUMBER = [1, 2, 3, 4]

In [6]:
numbers = []
for i in range(1, 101):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [8]:
numbers = [i for i in range(1, 101)]
print(numbers) ## watch again

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
numbers = [i for i in range(1, 101) if i % 3 !=0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [11]:
num = [1,2,3,4]
countries = ['UK','US']
countries = ['1','UK','2','US']

In [12]:
cells = [['A1','A2','A3'],['B1','B2','B3']]

In [13]:
cells[0]

['A1', 'A2', 'A3']

In [15]:
cells[0][0]

'A1'

In [16]:
cells[0][1]

'A2'

In [17]:
cells = [['A1','A2','A3'],['B1','B2','B3']]
for i in cells:
    print('elements:',i)

elements: ['A1', 'A2', 'A3']
elements: ['B1', 'B2', 'B3']

In [19]:
cells = [['A1','A2','A3'],['B1','B2','B3']]
for i in cells:
    for j in i:
        print('elements:',j)

elements: A1
elements: A2
elements: A3
elements: B1
elements: B2
elements: B3

In [21]:
table = [['A1','A2','A3'],['B1','B2','B3']]
for row in table:
    for cell in row:
        print(cell, '', end='')
    print()

A1 A2 A3
B1 B2 B3

In [24]:
# 1 2 3 4 5 
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5

table = [i for i in range(1, 6)]
print(table)

[1, 2, 3, 4, 5]

In [30]:
table = [ [i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [33]:
## Adding and multiplication lists
top_cities = ['Indore','Khandwa','Singapore'] 
top_cities2 = ['New york city','Gwalior','Indore']
list_add = top_cities + top_cities2
print(list_add)

['Indore', 'Khandwa', 'Singapore', 'New york city', 'Gwalior', 'Indore']

In [34]:
top_cities = ['Indore','Khandwa','Singapore'] 
top_cities2 = ['New york city','Gwalior','Indore']
list_add = top_cities * top_cities2
print(list_add)

TypeError: can't multiply sequence by non-int of type 'list'

In [35]:
num = [0, 10] * 10
print(num)

[0, 10, 0, 10, 0, 10, 0, 10, 0, 10, 0, 10, 0, 10, 0, 10, 0, 10, 0, 10]

In [ ]:
##