In [1]:
## Tuple : can have same or different data type
empty_tuple = ()

In [2]:
one1_tuple_a = (1,)

In [3]:
one1_tuple_b = 1,

In [9]:
three_e1_tuple = 1, 2, 3,

In [10]:
print(three_e1_tuple)

(1, 2, 3)

In [6]:
## MUTABLE = CAN FREELY UPDATE ANY TIME EG; LIST

In [7]:
## TUPLE IS IMMUTABLE:
user_data = ('john', 'American', 1964)

In [8]:
user_data = ('Katya', 'Russian', 1980)

In [11]:
# user_data.append() not work
# del also not work
# doesnt suppport item assignment
# string are immutable

In [12]:
## tuple operations
user_data = ('Katya', 'Russian', 1980)
print(len(user_data))

3

In [13]:
user_data = ('Katya', 'Russian', 1980)
# print(len(user_data))
for element in user_data:
    print(element)

Katya
Russian
1980

In [17]:
user_data = ('Katya', 'Russian', 1980)
if 'Katya' in user_data:
    print('this person come from katya')

this person come from katya

In [20]:
user_data = ('Katya', 'Russian', 1980) + ('teacher',)
print(user_data)

('Katya', 'Russian', 1980, 'teacher')

In [21]:
num = (0,1) * 10
print(num)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [22]:
## when list when tuple
## list : use when many value of same data type (same class,same phenomenon)
# eg: name = ['adam', 'jerry']
## tuple : use when you want to group diffrent data type in one element

In [24]:
first = 5
second = 7
first, second = second, first
print(first,second)
# tuple can be right side and also left side of assignment operator

7 5

In [25]:
##### TUPLE IN LIST

city_1 = ('london', 'UK', 8.98)
city_2 = ('Canberra', 'Australia', 0.4)
city_3 = ('Algeries', 'Algeria', 3.9)

In [26]:
capitals = [('london', 'UK', 8.98),('Canberra', 'Australia', 0.4),('Algeries', 'Algeria', 3.9)]

In [27]:
for capital in capitals:
    print('Name:', capital[0], ',country:', capital[1], ',population:', capital[2])

Name: london ,country: UK ,population: 8.98
Name: Canberra ,country: Australia ,population: 0.4
Name: Algeries ,country: Algeria ,population: 3.9

In [28]:
user_data = ('John', 'America', 1964, [77.0, 78.2, 77.5])

In [29]:
user_data[3].append(79.6)